DATABASE_URL="postgresql://postgres.xxx:PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.xxx:PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="your-jwt-secret-at-least-32-chars-long"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-at-least-32-chars-long"
NEXT_PUBLIC_APP_URL="https://prep-track-ruddy.vercel.app"
NODE_ENV="development"
PORT="3000"
